body{
    background-color: rgb(179, 188, 241);
}

@font-face {
    font-family: Akira;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf) format(opentype);
}

#aboutheading{
    font-family: Akira;
    font-style: italic;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

p{
    width: 60%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-style: bold;
}

#aboutgif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    width: 700px;
    height: auto;
}