.product1{
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);

}

body {
    background-color: #c35151;
}

@font-face {
    font-family: Akira;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf) format(opentype);
}

h1{
    padding-top: 50px;
    font-family: Akira;
    font-style: italic;
    font-size: 100px;
    text-align: center;
}


.clothing_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

img {
    width: auto;
    height: 435px;
    border: 3px solid black;
}

.product_desc{
    width: 400px;
}