body {
    background-color:cadetblue;
}

#grungehomepagephoto{
    width: 265px;
    height: 385px;
    padding: 5px;
    margin-left: 20px;
}

#Y2Khomepagephoto{
    width: 265px;
    height: 385px;
    padding: 5px;
    margin-left: 20px;
}

#officewearhomepagephoto{
    width: 265px;
    height: 385px;
    padding: 5px;
    margin-left: 20px;
}

#streetwearhomepagephoto{
    width: 265px;
    height: 385px;
    padding: 5px;
    margin-left: 20px;
}

#athleisurehomepagephoto{
    width: 265px;
    height: 385px;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

@font-face {
    font-family: Akira;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf) format(opentype);
}


h1{
    padding: 50px;
    font-family: Akira;
    font-style: italic;
    font-size: 100px;
}