body {
    background-color:cadetblue;
}

#grungehomepagephoto{
    width: 250px;
    height: 325px;
    padding: 20px;
    padding-left: 30px;
}

@font-face {
    font-family: Akira;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf) format(opentype);
}


h1{
    padding: 50px;
    font-family: Akira;
    font-size: 100px;
}