body {
    background-color:cadetblue;
}

#grungehomepagephoto{
    width: 265px;
    height: 385px;

}

#Y2Khomepagephoto{
    width: 265px;
    height: 385px;

}

#officewearhomepagephoto{
    width: 265px;
    height: 385px;

}

#streetwearhomepagephoto{
    width: 265px;
    height: 385px;

}

#athleisurehomepagephoto{
    width: 265px;
    height: 385px;
    
}

.homepagephotoscontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

@font-face {
    font-family: Akira;
    src: url(akira_expanded/Akira\ Expanded\ Demo.otf) format(opentype);
}

h1{
    padding-top: 50px;
    font-family: Akira;
    font-style: italic;
    font-size: 100px;
}
h2{
    padding-bottom: 30px;
    font-family: Akira;
    font-size: 20px;
}

.homepagephototitle{
    text-align: center;
    font-family: Akira;
    font-size: 25px;
    padding-top: 5px;
}

@font-face {
    font-family: Nonserif;
    src: url(nonserif/Nonserif.ttf) format(opentype);
}
.aestheticdescription{
    font-family: Nonserif;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}